
.container {
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
 
}

.flip-card-outer {
  width: 300px;
  height: 400px;
  margin: 25px 0;
   cursor: pointer;

  &.focus-trigger:focus {
    outline: 5px solid greenyellow;
    outline-offset: 5px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.hover-trigger:hover {
      transform: rotateY(180deg);
    }

  
    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      &.front {
        transform: rotateY(0);
        background-color: #2d2d2d;
        color: #fff;
      }
  
      &.back {
        transform: rotateY(180deg);
        background-color: #fff;
        color: #2d2d2d;
      }
    }
  }
}